dist
node_modules
.env
.DS_Store

demo/plugin/blocks/*
!demo/plugin/blocks/.gitkeep
demo/plugin/build/*
!demo/plugin/build/.gitkeep

demo/plugin/node_modules
demo/uploads/*
!demo/uploads/.gitkeep

demo/theme/assets/css/main.css
demo/theme/assets/js/main.js

handoff-wp.config.json
ridebalkans-blocks