<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="Block PHP in build" stopProcessing="true">
          <match url="^wp-content/handoff/build/.*\.php$" />
          <action type="AbortRequest" />
        </rule>
        <rule name="Block PHP in blocks" stopProcessing="true">
          <match url="^wp-content/handoff/blocks/.*\.php$" />
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
